.Main {
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.SideNav {
    background-color: lightgreen;

    &__Buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__Button {
        cursor: pointer;
        background-color: palegoldenrod;
        width: 125px;
        padding: 10px;
        margin: 10px 0;

        &-Finish {
            cursor: pointer;
            background-color: paleturquoise;
            width: 100%;
            padding: 10px;
            margin: 10px 0;
        }
    }

}

.Right {
    background-color: white;
}

.Burger {
    position: relative;
    height: 767px;
    background-color: darkgray;

    &__Part {
        position: absolute;
        width: 204px;
        height: 140px;
        left: 50%;
        transform: translateX(-50%);
        background-position: bottom;
        background-repeat: no-repeat;
    }

    &__Close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
