.Main {
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.Left {
    background-color: lightgreen;

    &__Button {
        background-color: palegoldenrod;
        width: 200px;
        padding: 10px;
        margin: 10px 0;
    }
}

.Right {
    background-color: white;
}

.Burger {
    position: relative;
    height: 767px;

    &__Part {
        position: absolute;
        width: 204px;
        height: 119px;
        left: 50%;
        transform: translateX(-50%);
    }
}
